atlantis-url: {{ atlantis_url }}
port: {{ atlantis_port }}
data-dir: {{ atlantis_data_dir }}
repo-whitelist: {{ atlantis_repo_allowlist }}
default-tf-version: {{ atlantis_default_tf_version }}
autoplan-file-list: "{{ atlantis_autoplan_file_list }}"
tf-download-url: "{{ atlantis_tf_download_url }}"
gh-user: {{ atlantis_gh_user }}
gh-token: {{ atlantis_gh_token }}
gh-webhook-secret: {{ atlantis_gh_webhook_secret }}
